*{
    margin: 0px;
    padding: 0px;
    
}
* p{
    font-size: 1.4rem;
}

/* VISTA MOBILE */
.div-container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    
    
    
}
/* EDITAMOS EL HEADER MOBILE */
.header{
    grid-area: header;
    background-color:#273e47;
    
    
    
    
}
.nav__div{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header__nav{
    border-bottom: 5px solid black;
    
    
}

.logopina{
    width: 4%;
    position: relative;
    left:49%;

}

.header__title{
    display: flex;
    justify-content: center;

    font-size: 4rem;
    color: #F69269;
    width: 100%;
    
}

.header__nav__ul{
    background-color: #273e47;
    list-style-type: none;
    display: flex;
    padding: 1rem;
    flex-direction: column; 
    
    
}
.li__navbar{
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #0e1c22;
    
    
}
.a__navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    /* border-top: 1px solid #0e1c22; */
    
}
.li__navbar:hover{
    background-color: #0e1c22;
}

/* EDITAMOS EL MAIN MOBILE */
.main{
    grid-area: main;
    background-color: #273e47;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.nosotros-somos{
    color: #F69269;
    font-size: 3rem;
    
}

.t-center{
    text-align: center;
}
p{
    color: white;
}
.foto1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 30%;
    height: 30rem;
    
}
.img:hover{
    opacity: 0.8;
}


.footer{
    grid-area: footer;
    background-color: #f7cacd;
}