*{
    margin: 0;
    padding: 0;

}

body{
    color: #2D3142;
    overflow-x: hidden;
    
}
.div-container{
    width: 100px;
    height: 100px;
    display:flex;
    grid-template-areas:
    "header"
    "main"
    "main"
    "main"
    "footer";
}
.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}



.header__nav{
    position:fixed;
    top: 0;
    background-color: #2D3142;
    padding: 0px;
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid #23201F;

}
.logopina{
    margin-left: 15px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.header-title{
    font-size: 4rem;
    font-weight: bold;
    color: #F69269;
    margin-left:80px;
    
}
.header_nav__ul{
    list-style-type: none;
    margin: 0;
    padding-right: 100px;
    float: right;
    
    
    

}
.li__navbar{
    float: left;
    height: 40px;
    ;
}
.contacto{
    border-right: none;
    
}


.a__navbar {
    text-decoration: none;
    color: #7c9eb2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    height: 100%;
    border-right:1px solid #23201F;
}
.a__navbar:hover{
    
        background-color: #111;

}

.active{
        background-color: #23201F;

}

main{
    background-color: #2D3142;
    width: 100vw;
}  

.div-img{
    width: 100vw;
    display: flex;
    margin-top: 70px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}


h1{
    color: #F69269;
    margin-top: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 0.6rem;
    background-color: #2D3142;
    font-size: 3rem;
    text-align: center;
}
.main__p{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.main__h2{
    color: wheat;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 0rem;
}

footer{
    background-color: #2D3142;
    width: 100vw;
    height: 8rem;
    border: 1px solid #23201F;
    
}

footer span{
    color: #F69269;
    font-size: 3rem;
}


.logo{
    width: 3rem;
    margin-left: 10rem;
    margin-top: 1rem;

}
footer span a:hover{
    background-color: #111;
    cursor: pointer; 
}
.footer__ul{
    display: flex;
    height: 4rem;
    float: right;
    margin-right: 3rem;
    padding-top: 1rem;
    list-style-type: none;
    text-decoration: none;

}

.footer__li{
    
    padding: 0.6rem;
    height: 2rem;
    padding-right: 2rem;
    border-right: 1px solid black;
    
    
}
.footer__li:hover{
    background-color: #111
}

.a__footer{
    text-decoration: none;
    color: #7c9eb2;
    
}
.a__footer:hover{
    background-color: #111;
}
.a__footer{
    cursor: pointer;
}


